@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    background-color: #f0f0f0;
}

@media screen and (orientation: landscape) and (min-width: 110vh) {
    body {
        flex-direction: row;
    }
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 75vh;
}

@media screen and (orientation: portrait) {
    .game {
        width: 80vw;
        height: 85vw;
    }
}

.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.2rem solid #54656bcb;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.5rem;
    flex-direction: row;
    height: 5vh;
    width: 100%;
}

@media screen and (orientation: portrait) {
    .game-header {
        height: 5vw;
    }
}

.reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #54656bcb;
    transition: color 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.reset-button:hover {
    cursor: pointer;
    color: #54656b;
}

.game-info {
    display: block;
    font-size: 1.5rem;
    color: #54656bcb;
    text-wrap: nowrap;
    overflow: hidden;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    text-overflow: ellipsis;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flag-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-flag {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #54656bcb;
    transition: color 0.2s;
    margin-right: 1rem;
    cursor: pointer;
}

.toggle-flag[data-activated="true"]::before {
    content: "\f024";
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    color: #d32f2f;
}

.toggle-flag:hover[data-activated="true"]::before {
    color: #d32f2fa8;
}

.toggle-flag[data-activated="false"]::before {
    content: "\f024";
    font-family: 'Font Awesome 5 Free';
    color: #54656bcb;
}

.toggle-flag:hover[data-activated="false"]::before {
    color: #54656b;
}

.remaining-flags {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #54656bcb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 0.2rem solid #54656bcb;
    border-top: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.game-board > * {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #54656bcb;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: "Font Awesome 5 Free";
}

.game-board > *[data-style="light"] {
    background-color: #aad383;
}

.game-board > *[data-style="light"]:hover {
    background-color: #aad383b6;
}

.game-board > *[data-style="dark"] {
    background-color: #7a995d;
}

.game-board > *[data-style="dark"]:hover {
    background-color: #7a995db6;
}

.game-board > *[data-style="light"][data-bomb="false"] {
    cursor: not-allowed;
    background-color: #e5c29f;
}

.game-board > *[data-style="dark"][data-bomb="false"] {
    cursor: not-allowed;
    background-color: #d7b899;
}

.game-board > *[data-style="light"][data-bomb="true"] {
    cursor: not-allowed;
    background-color: #d32f2f;
}

.game-board > *[data-style="dark"][data-bomb="true"] {
    cursor: not-allowed;
    background-color: #972121;
}

.game-board > *[data-bomb="true"]::before {
    color: #fff;
    content: "\f1e2";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

.game-board > *[data-style="light"][data-bomb="true"]:hover {
    background-color: #d32f2f;
}

.game-board > *[data-style="dark"][data-bomb="true"]:hover {
    background-color: #972121;
}

.game-board > *[data-flag="true"][data-style="dark"]:before {
    color: #d32f2f;
    content: "\f024";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

.game-board > *[data-flag="true"][data-style="light"]:before {
    color: #972121;
    content: "\f024";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}


.game-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.2rem solid #54656bcb;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem;
}

.settings-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #54656bcb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.settings-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    border-bottom: #54656bcb 0.1rem solid;
    border-radius: 2rem;
    transition: background-color 0.2s;
}

.settings-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #54656b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.settings-row:hover {
    cursor: pointer;
    background-color: #54656b85;
}